<div class="task-card__header">
  <h3 class="task-card__title"></h3>
  <div class="task-card__actions">
    <button
      class="task-card__move-button"
      aria-label="Move task to next status"
    >
      <i data-lucide="circle-check" class="task-card__move-icon"></i>
    </button>
    <button class="task-card__delete-button" aria-label="Delete task">
      <i data-lucide="trash" class="task-card__delete-icon"></i>
    </button>
  </div>
</div>
<div class="task-card__info"></div>
<div class="task-card__footer"></div>
